.container > div {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem ;
    font-weight: bold;
    color: white ;
    border : 1px solid black ;
  }
  
  html, body {
    box-sizing: border-box;
    background-color: white;
    height: 100%;
    padding: 10px;
    margin: 0px;
  }


.header ,.footer {
    background-color: blueviolet;
}



.sidebar {
    background: linear-gradient(to bottom left,#3bd8d0, #29a59e);
  }
  
  .content-1,.content-2,.content-3
  {

    background: linear-gradient(to bottom right,#644bcf, #3ce3dd);
  }
